<div class="center">
  <h1 style="text-align:left">Login</h1>
  <div class="login-card">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" />
        <mat-error *ngIf="allControls?.email?.errors?.email && submitted"
          >Invalid Email</mat-error
        >
        <mat-error *ngIf="allControls?.email?.errors?.required && submitted"
          >Email required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="allControls?.password?.errors?.required && submitted"
          >password required</mat-error
        >
        <mat-error *ngIf="allControls?.password?.errors?.minLength && submitted"
          >min length required</mat-error
        >
      </mat-form-field>

      <div style="text-align: center;">
        <button mat-raised-button color="primary" style="text-align:center">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
